@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Railway Reservation System</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
